.incomeForm {
  display: flex;
  flex-direction: column;
}

.incomeForm input {
  background-color: #383535;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
  color: #ffffff;
}

.Form {
  display: flex;
  justify-content: space-around;
  color: white;
}
